:root {
  --header-text-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --first-text-color: #303030;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.conteiner {
  width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid coral;
  margin: 0 auto;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------HEADER------------------ */

.header {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: rgb(144, 186, 186);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-link-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
}

/* --------------HERO----------------- */

.hero {
  background-color: rgb(67, 67, 67);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 20px;
}

.hero-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

/* --------------ABOUT----------------- */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-pre-title {
  color: var(--first-title-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
}

.about-btn:hover,
.about-btn:focus {
  color: var(--accent-color);
}

/* --------------PRICES----------------- */

.prices {
  background-color: rgb(67, 67, 67);
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-text {
  font-weight: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 50px;
}

.prices-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
}

.prices-btn:hover,
.prices-btn:focus {
  color: var(--accent-color);
}

/* --------------REASONS----------------- */

.reasons {
  padding-top: 121px;
  padding-bottom: 130px;
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--first-text-color);
}

.reasons-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.reasons-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.reasons-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}

/* --------------MASTERS----------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.masters-title {
  color: var(--second-title-color);
}

.masters-item-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.masters-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.masters-item-content {
  padding-top: 30px;
}

/* --------------GALLERY----------------- */

.galery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

/* --------------CONTACTS----------------- */
address {
  font-style: normal;
}

/* --------------FOOTER----------------- */
